{% extends 'blog/base.html' %}

{% block content %}
{% load crispy_forms_tags %}


    <h3 class="border-bottom pb-3 mb-3 mt-2">تسجيل الدخول</h3>
    {% if messages %}
{% for message in messages %}
   <div class="alert alert-{{message.tags}}">
    {{message}}
   </div>
{% endfor %}
{% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group p-4" style="border: 1px solid #ccc;">
          {{form|crispy}}
        <input class="btn btn-secondary mb-2 mt-3" style="display: block;" type="submit" value="تسجيل الدخول">
        </div>
    </form>
    


{% endblock %}