{% extends 'blog/base.html' %}

{% block content %}

<h3 class="border-bottom">من أنا</h3>

<h5>أنا عبدالرحمن محمد،
   <br>
    مهندس برمجيات (Software Engineer) متخصص في تطوير الويب باستخدام:
    <br>
    Full Stack Python (Django / Django Rest Framework)
    <br>
    HTML, CSS, Bootstrap, JavaScript
    <br>
    أملك شغفًا كبيرًا بكل ما يتعلق بالتكنولوجيا والمعلومات، وأسعى دائمًا لاكتساب المهارات الجديدة ومواكبة تطورات المجال.
    حاليًا أركز على تعلم React.js وأعمل على بناء مشاريع تطبيقية باستخدامها لتعزيز خبرتي في تطوير الواجهات الأمامية (Frontend Development).
</h5>

{% endblock %}